
<div class="row hidden-reviews">
    <div class="col-3">
        {{#if recommendation}}
        {{get_thumbsUp}}
        {{else}}
        {{get_thumbsDown}}
        {{/if}}
    </div>
    <div class="col-9">
        {{review}}
    </div>
</div>