
<div class="row hidden-reviews">
    <div class="col-2 one-rec">
        {{#if recommendation}}
        {{get_thumbsUp}}
        {{else}}
        {{get_thumbsDown}}
        {{/if}}
    </div>
    <div class="col-8 one-review">
        {{review}}
    </div>
</div>