<div class="book">
  {{> allBooks book}}
  <div>
    <h3>Review this Book</h3>
    <form class="review-form">
    <label for="review">Recommendation:</label>
    <input type="checkbox" id="yes" name="yes" value="thumbs-up">
    <label for="yes-rec"> Read this book!</label><br>
    <input type="checkbox" id="no" name="no" value="thumbs-down">
    <label for="no-rec"> Stay away!</label><br>
    <label for="review">Write a Review</label>
    <input id="review" type="text">
    <button type="submit">Submit</button>
  </form>
  </div>
  
  <button>Add to Wishlist!</button>

</div>

<script src="/js/review.js"></script>
<script src="/js/wishlist.js"></script>
