<div class="book">
  {{> allBooks book}}
  <div>
    <h3>Review this Book</h3>
    <form class="review-form">
      <fieldset>
        <legend>Recommendation</legend>
        <label for="recommendation">Do you recommend this book?</label>
        <select name="recommendation" id="recommendation">
          <option value="yes">YES</option>
          <option value="no">NO</option>
        </select>
      </fieldset>
      <fieldset>
        <legend>Review</legend>
        <textarea id="review" name="review" rows="4" cols="50">Write your review</textarea>
      </fieldset>
      <button type="submit">Submit</button>
    </form>
  </div>

  <button>Add to Wishlist!</button>

</div>

<script src="/js/review.js"></script>
<script src="/js/wishlist.js"></script>