<div class="book">
  {{> allBooks book}}
  <div>
    <h3>Review this Book</h3>
    <form class="new-review">
      <fieldset>
        <legend>Recommendation</legend>
        <label for="recommendation">Do you recommend this book?</label>
        <select name="recommendation" id="recommendation">
          <option value="true">YES</option>
          <option value="false">NO</option>
        </select>
      </fieldset>
      <fieldset>
        <legend>Review</legend>
        <textarea id="review" name="review" rows="4" cols="50">Write your review</textarea>
      </fieldset>
      <button type="submit">Submit</button>
    </form>
  </div>

  <button class="wishlist-button" book-id="{{book_id}}" title="{{title}}" genre="{{genre}}" author="{{author}}">Add to Wishlist!</button>

</div>

<script src="/js/review.js"></script>
<script src="/js/addWishlist.js"></script>