<!-- Loop over each object in the projects array -->
<div>
  {{#each books as |book|}}
  {{> allBooks book}}
  {{/each}}
</div>

{{!-- <div class="application">
  <h1>Book Club</h1>
  <div>
    {{> login}}
  </div>
  {{#if user}}
    <div>
      {{> profile}}
    </div>
    <div>
      {{> bookList}}
    </div>
  {{else}}
    <div>
      {{> book}}
    </div>
  {{/if}}
</div> --}}
