<form id="book-form">
    <div id="book-details" class="form-row">
    </div>
    <div class="form-group col-md-6">
        <label for="genre">Genre</label>
        <select class="form-control" name="genre" id="genre">
            <option value="Biographies">Biographies</option>
            <option value="Classics">Classics</option>
            <option value="Current Affairs">Current Affairs</option>
            <option value="Fantasy">Fantasy</option>
            <option value="General Fiction">General Fiction</option>
            <option value="Historical Fiction">Historical Fiction</option>
            <option value="History">History</option>
            <option value="Mystery & Thrillers">Mystery & Thrillers</option>
            <option value="Romance">Romace</option>
            <option value="Science Fiction">Science Fiction</option>
            <option value="Self-Help">Self-Help</option>
            <option value="Social Sciences">Social Sciences</option>
            <option value="True Crime">True Crime</option>
            <option value="Other">Other</option>
        </select>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="rec">Would you recommend this book?</label>
            <select class="form-control" id="rec" name="rec">
                <option value="true">YES</option>
                <option value="false">No</option>
            </select>
        </div>
        <div class="form-group">
            <label for="review">Enter your review here</label>
            <textarea class="form-control" id="review" rows="3"></textarea>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

<script src="/js/book.js"></script>