<div>
    <form id="book-form">
        <label for="title">Search by book title</label>
        <input type="text" class="form-control" id="title" placeholder="Title">
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

<container id="book-list">
    <div id="list" class=" row card-deck">
    </div>
</container>

{{!-- add a button for enter manually --}}

<script src="/js/book.js"></script>
