/* Backround image */
.box {
  background-image: url(backround.jpeg);
  height: 200vh;
  background-position: center;
  background-size: cover;
 }   
  .login {
     background-color: #6f696900;
     text-align: center;
  }
      /* Drop Down Menu */
  .dropdown {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
  }
      
  .dropdown-content {
    position: absolute;
    background-color: #fefefe;
    border: 1px solid #ccc;
    border-top: none;
    box-shadow: 0 2px 4px rgba(246, 248, 247, 0.1);
    display: none;
    padding: 10px;
    z-index: 1;
  }
      
      
  .dropdown:hover .dropdown-content {
     display: block;
  }
        
  .dropdown-content a {
    color: #000000;
    text-decoration: none;
    padding: 10px;
    border-bottom: 1px solid #ccc;

  }
      
  .dropdown-content a:hover {
    background-color: #ccc;
    color: #fff;
  }
    
 .body {
   font-family: 'Open Sans', sans-serif;
   font-weight: 400;
   font-style: normal;
   background-color: #f0f0f000;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   height: 100vh;
   margin: 0;
   padding: 0;
}

#small {
  margin: 2px;
  padding: 2px;
  justify-content: center;
}

#list {
  width: 740px;
  max-height: 500px;
  overflow: auto;
  background-color: #fff;
}

.row {
width: 1280px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: #ffffff00;
  color: #000000;
  border-radius: 10px;
  box-shadow: 0 2px 4px #ffffff00(255, 253, 253, 0.1);
}
 .bg-none {
  background-color: rgba(0, 255, 255, 0);
 }
 
 h1 {
  
  font-family: Arial;
  text-align: center;
  margin-bottom: 0px;
 
  
 }
  
 .card-body {
  background-color: #00000000;
 /* color: #08080800; */
}

h5 {
  background-color: rgb(237, 242, 242);
  cursor: pointer;
  text-align: center;
  text-decoration: underline;
}

 h2 {
  background-color: rgba(239, 243, 243, 0);
 color: #000000f9;
}

h3 {
  background-color: #00000000;
  color: #000000;
}

a {
  background-color: #00000000;
  color: #000000;
  text-decoration: none;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  line-height: 2.0;
  margin-bottom:0px;
  
}

.select h5 {
  background-color: rgba(0, 255, 255, 0);
  cursor: pointer;
  text-align: center;
  text-decoration: underline;
}

li.dropdown {
  color: #000000;
  text-decoration: none;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}